# Created by .ignore support plugin (hsz.mobi)
/main.py
*.sqlite3
*.
/silaeder_exchange/website/save/
/silaeder_exchange/__pycache__/
/silaeder_exchange/website/models_b/
/silaeder_exchange/silaeder_exchange/__pycache__/
/silaeder_exchange/website/migrations/__pycache__/