{% load static %}
<html>
<head>
    <title>Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
          rel="stylesheet">
    <!-- <link href="{% static 'css/base.css' %}" rel="stylesheet"> -->
    <meta charset="utf-8">
</head>
<body>
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>

<br><br><br>

<style>
    body {
        background: url(https://bootstraptema.ru/images/bg/bg-1.png)
    }

    #main {
        background-color: #f2f2f2;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 4px solid #ddd;
    }

    #real-estates-detail #author img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: 5px solid #ecf0f1;
        margin-bottom: 10px;
    }

    #real-estates-detail .sosmed-author i.fa {
        width: 30px;
        height: 30px;
        border: 2px solid #bdc3c7;
        color: #bdc3c7;
        padding-top: 6px;
        margin-top: 10px;
    }

    .panel-default .panel-heading {
        background-color: #fff;
    }

    .application_show_div {
        width: 400px;
        align-items: flex-start;
        border: 5px solid #0f8fee;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 12px;
    }

    #real-estates-detail .slides li img {
        height: 450px;
    }
</style>

<div class="container">


    <div class="row" id="real-estates-detail">
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <header class="panel-title">
                        <div class="text-center">
                            <strong>{{ user.username }}</strong>
                        </div>
                    </header>
                </div>
                <div class="panel-body">
                    <div class="text-center" id="author">
                        <img src="#">
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        <p>О себе</p>
                        <form action="{% url 'logout' %}" target="_blank">
                            <button>Sign out</button>
                        </form>
                        <form action="{% url 'prof_page_edit' %}" target="_blank">
                            <button>Edit</button>
                        </form>
                        <form action="{% url 'home_page' %}" target="_blank">
                            <button>Главная</button>
                        </form>
                        <p class="sosmed-author">
                            <!--
                        <a href="#"><i class="fa fa-facebook" title="Facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter" title="Twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus" title="Google Plus"></i></a>
                        <a href="#"><i class="fa fa-vk" title="Linkedin"></i></a>
                            -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-pills">
                        {% if get_warning %}
                        <li class=""><a href="#detail" data-toggle="tab">О себе</a></li>
                        <li class="active"><a href="#make_application" data-toggle="tab">Создать заявку</a></li>
                        {% else %}
                        <li class="active"><a href="#detail" data-toggle="tab">О себе</a></li>
                        <li class=""><a href="#make_application" data-toggle="tab">Создать заявку</a></li>
                        {% endif %}
                        <li class=""><a href="#show_application" data-toggle="tab">Заявки</a></li>
                        <li class=""><a href="#contact" data-toggle="tab">Хочу научиться/Могу научить</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <hr>
                        <div class="tab-pane fade active in" id="detail">
                            <h4>История профиля:</h4>
                            <table class="table table-th-block">
                                <tbody>
                                <!--<tr>
                                    <td class="active">Дата регистрации:</td>
                                    <td>{{user.date_joined}}</td>
                                </tr>
                                <tr><td class="active">Последняя активность:</td><td>-</td></tr>
                                tr><td class="active">Страна:</td><td>Россия</td></tr>
                                <tr>
                                    <td class="active">Город:</td>
                                    <td>{{user.city}}</td>
                                </tr> -->
                                <tr>
                                    <td class="active">Пол:</td>
                                    <td>{{user.gender}}</td>
                                </tr>
                                <tr>
                                    <td class="active">Полных лет:</td>
                                    <td>{{user.age}}</td>
                                </tr>
                                <tr>
                                    <td class="active">Email</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td class="active">Контакты</td>
                                    <td>{{user.contact}}</td>
                                </tr>
                                <tr>
                                    <td class="active">Рейтинг пользователя:</td>
                                    <td><i class="fa fa-star" style="color:red"></i> <i class="fa fa-star"
                                                                                        style="color:red"></i> <i
                                            class="fa fa-star" style="color:red"></i> <i class="fa fa-star"
                                                                                         style="color:red"></i> <i
                                            class="fa fa-star" style="color:red"></i> 5/5
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="contact">
                            <p></p>
                            <table class="table table-th-block">
                                <h4>Навыки которыми вы владеете:</h4>
                                {% for post in skills_know %}
                                <tr>
                                    <td>{{ post.skill_main }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-th-block">

                                <tbody>
                                <h4>Можете научить:</h4>
                                {% for post in skills_wont %}
                                <tr>
                                    <td>{{ post.skill_main }}
                                    <td>
                                </tr>
                                {% endfor %}
                                <!--<tr><td class="active">Последняя активность:</td><td>-</td></tr>
                                tr><td class="active">Страна:</td><td>Россия</td></tr>-->
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="make_application">
                            <p></p>
                            <form role="form" , method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Ваше имя</label>
                                    <input name="title" , type="text" class="form-control rounded"
                                           value="{{bad_ap.name}}" placeholder="Укажите Ваше Имя">
                                </div>
                                <div class="form-group">
                                    <label>Ваши контакты</label>
                                    <input name="contacts" , type="text" class="form-control rounded"
                                           value="{{bad_ap.contacts}}" placeholder="(+7)(095)123456 email">
                                </div>
                                <div class="form-group">
                                    <label>О себе</label>
                                    <textarea name="about_me" , class="form-control rounded" style="height: 100px;">{{bad_ap.about_me}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Хочу научиться</label>
                                    <textarea name="wont" , class="form-control rounded" style="height: 100px;">{{bad_ap.wont}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Могу научить</label>
                                    <textarea name="know" , class="form-control rounded" style="height: 100px;">{{bad_ap.know}}</textarea>
                                </div>
                                <!--
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Согласен с условиями
                                        </label>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success" data-toggle="modal"
                                            data-target="#modal-1">
                                        Отправить
                                    </button>
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#modal-1">
                                        Чек
                                    </button>
                                </div>
                            </form>
                            {% if get_warning %}
                            <div class="warning">
                                <p>Вы не заполнили одно из полей</p>
                            </div>
                            {% endif %}
                            <div class="modal" id="modal-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            {% if get_warning %}
                                            <h4 class="modal-title">Ошибка</h4>
                                            {% else %}
                                            <h4 class="modal-title">Уведомление</h4>
                                            {% endif %}
                                        </div>
                                        <div class="modal-body">
                                            {% if get_warning %}
                                            <p>Вы заполнили не все поля</p>
                                            {% else %}
                                            <p>Заявка сохранена</p>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" type="button" data-dismiss="modal">Закрыть
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="show_application">
                            <div class="panel-body">
                            {% for application in applications %}
                            <div class="application_show_div">
                                <h4>О себе</h4>
                                <p>{{application.about_me}}</p>
                                <h4>Могу научить</h4>
                                <p>{{application.know}}</p>
                                <h4>Хочу научиться</h4>
                                <p>{{application.wont}}</p>
                                <h4>Контакты</h4>
                                <p>{{application.contacts}}</p>
                                <form action="/edit/application/{{application.id}}">
                                    <button>Редактирование</button>
                                </form>
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#modal-2">Уадлить
                                </button>
                                <div class="modal" id="modal-2">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Удаление</h4>

                                            </div>
                                            <div class="modal-body">
                                                <form action="/edit/application/{{application.id}}/delit">
                                                    <button>Удалить</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="button" data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>